@model FirsatVM

  
@foreach (var m in Model.FirsatVMListe)
{
    <div class="row g-3 align-items-start border rounded p-3 mb-3">

        <!-- küçük resim -->
        <div class="col-auto">
            @if (m.DurumID==(int)EnumFirsatDurum.SipariseDonustu)
            {
                <span class="svg-icon svg-icon-warning svg-icon-2x">
                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Code\Done-circle.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" alt="Yapılacak Görev">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path d="M12,18 L7.91561963,20.1472858 C7.42677504,20.4042866 6.82214789,20.2163401 6.56514708,19.7274955 C6.46280801,19.5328351 6.42749334,19.309867 6.46467018,19.0931094 L7.24471742,14.545085 L3.94038429,11.3241562 C3.54490071,10.938655 3.5368084,10.3055417 3.92230962,9.91005817 C4.07581822,9.75257453 4.27696063,9.65008735 4.49459766,9.61846284 L9.06107374,8.95491503 L11.1032639,4.81698575 C11.3476862,4.32173209 11.9473121,4.11839309 12.4425657,4.36281539 C12.6397783,4.46014562 12.7994058,4.61977315 12.8967361,4.81698575 L14.9389263,8.95491503 L19.5054023,9.61846284 C20.0519472,9.69788046 20.4306287,10.2053233 20.351211,10.7518682 C20.3195865,10.9695052 20.2170993,11.1706476 20.0596157,11.3241562 L16.7552826,14.545085 L17.5353298,19.0931094 C17.6286908,19.6374458 17.263103,20.1544017 16.7187666,20.2477627 C16.5020089,20.2849396 16.2790408,20.2496249 16.0843804,20.1472858 L12,18 Z" fill="#000000" />
                        </g>
                    </svg><!--end::Svg Icon-->
                </span>
            }
            else if (m.DurumID==(int)EnumFirsatDurum.BilgiToplaniyor)
            {
                <span class="svg-icon svg-icon-danger svg-icon-2x">
                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Home\Alarm-clock.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" alt="Yapılmış Firsat">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24" />
                            <path d="M12,4.25932872 C12.1488635,4.25921584 12.3000368,4.29247316 12.4425657,4.36281539 C12.6397783,4.46014562 12.7994058,4.61977315 12.8967361,4.81698575 L14.9389263,8.95491503 L19.5054023,9.61846284 C20.0519472,9.69788046 20.4306287,10.2053233 20.351211,10.7518682 C20.3195865,10.9695052 20.2170993,11.1706476 20.0596157,11.3241562 L16.7552826,14.545085 L17.5353298,19.0931094 C17.6286908,19.6374458 17.263103,20.1544017 16.7187666,20.2477627 C16.5020089,20.2849396 16.2790408,20.2496249 16.0843804,20.1472858 L12,18 L12,4.25932872 Z" fill="#000000" opacity="0.3" />
                            <path d="M12,4.25932872 L12,18 L7.91561963,20.1472858 C7.42677504,20.4042866 6.82214789,20.2163401 6.56514708,19.7274955 C6.46280801,19.5328351 6.42749334,19.309867 6.46467018,19.0931094 L7.24471742,14.545085 L3.94038429,11.3241562 C3.54490071,10.938655 3.5368084,10.3055417 3.92230962,9.91005817 C4.07581822,9.75257453 4.27696063,9.65008735 4.49459766,9.61846284 L9.06107374,8.95491503 L11.1032639,4.81698575 C11.277344,4.464261 11.6315987,4.25960807 12,4.25932872 Z" fill="#000000" />
                        </g>
                    </svg><!--end::Svg Icon-->
                </span>
            }
            else if (m.DurumID == (int)EnumFirsatDurum.TeklifeDonustu)
            {
                <span class="svg-icon svg-icon-info svg-icon-2x">
                    <!--begin::Svg Icon | path:C:\wamp64\www\keenthemes\themes\metronic\theme\html\demo1\dist/../src/media/svg/icons\Communication\Sending mail.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24" />
                            <path d="M4,16 L5,16 C5.55228475,16 6,16.4477153 6,17 C6,17.5522847 5.55228475,18 5,18 L4,18 C3.44771525,18 3,17.5522847 3,17 C3,16.4477153 3.44771525,16 4,16 Z M1,11 L5,11 C5.55228475,11 6,11.4477153 6,12 C6,12.5522847 5.55228475,13 5,13 L1,13 C0.44771525,13 6.76353751e-17,12.5522847 0,12 C-6.76353751e-17,11.4477153 0.44771525,11 1,11 Z M3,6 L5,6 C5.55228475,6 6,6.44771525 6,7 C6,7.55228475 5.55228475,8 5,8 L3,8 C2.44771525,8 2,7.55228475 2,7 C2,6.44771525 2.44771525,6 3,6 Z" fill="#000000" opacity="0.3" />
                            <path d="M10,6 L22,6 C23.1045695,6 24,6.8954305 24,8 L24,16 C24,17.1045695 23.1045695,18 22,18 L10,18 C8.8954305,18 8,17.1045695 8,16 L8,8 C8,6.8954305 8.8954305,6 10,6 Z M21.0849395,8.0718316 L16,10.7185839 L10.9150605,8.0718316 C10.6132433,7.91473331 10.2368262,8.02389331 10.0743092,8.31564728 C9.91179228,8.60740125 10.0247174,8.9712679 10.3265346,9.12836619 L15.705737,11.9282847 C15.8894428,12.0239051 16.1105572,12.0239051 16.294263,11.9282847 L21.6734654,9.12836619 C21.9752826,8.9712679 22.0882077,8.60740125 21.9256908,8.31564728 C21.7631738,8.02389331 21.3867567,7.91473331 21.0849395,8.0718316 Z" fill="#000000" />
                        </g>
                    </svg><!--end::Svg Icon-->
                </span>
            }
        </div>

        <!-- Sağ taraftaki içerik: iki alt row -->
        <div class="col">
            <!-- 1. satır: Adsoyad, şehir ve tel  |  müşteri tip durumu -->
            <div class="row align-items-center">
                <div class="col">
                    <span class="text-muted small">
                        Kayıt No: @m.ID
                    </span>
                    <div class="fw-semibold">@m.Musteri?.AdSoyad    
                                             
                            @if (!string.IsNullOrWhiteSpace(m.Musteri?.Telefon))
                            {
                                <text> • <a href="tel:@m.Musteri.Telefon">@m.Musteri.Telefon</a></text>
                            }
                        
                    </div>
                </div>
                <div class="col-auto">
                    <span class="badge">
                        @m.DurumAd
                    </span>
                    @{
                        await Html.RenderPartialAsync("~/Views/Shared/SitePartial/_ButtonGroup.cshtml",
                        new AuthorizeCrudVM { ID = m.ID, DosyaEkle = true, HaritaEkle = true, ModulID = (int)ModulEnum.Firsat, Controller = "Firsat" });
                    }
                    
                </div>
            </div>
            <!-- 2. satır: not  |  ekleyen ve tarih -->
            <div class="row mt-2">
                <div class="col">
                    <div class="small bold">Sorumlu: @(!string.IsNullOrWhiteSpace(m.CreateUserName) ? m.CreateUserName : "—")</div>
                </div>
            </div>
            
         

            <!-- 4. satır: not  |  ekleyen ve tarih -->
            <div class="row mt-2">
                <div class="col">
                    <div class="small">@(!string.IsNullOrWhiteSpace(m.Not) ? m.Not : "—")</div>
                </div>
                <div class="col-auto text-muted small">
                    @if (!string.IsNullOrWhiteSpace(m.CreateUserName))
                    {
                        <text>@m.CreateUserName — </text>
                    }
                    @m.CreateDate?.ToString("dd.MM.yyyy HH:mm")
                </div>
            </div>
        </div>
    </div>
}

@if (Model.TotalPages > 1)
{ 
    await Html.RenderPartialAsync("~/Views/Shared/SitePartial/_Pager.cshtml", new PagerModel { PageIndex = Model.PageIndex, PageSize = Model.PageSize, TotalCount = Model.TotalCount });
}

 