@model List<RoleAssignVM>;
@{
    ViewData["Title"] = "RoleAssign";
   // Layout = "~/Views/Shared/_Layout.cshtml";
  //  Layout = "_LayoutMetronic1";
}

<div class="row col-md-12 m-2">
    <h2>Kullanıcı Rol Atama</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Kullanıcı:</th>
                <th>@ViewBag.UserName</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">
                    <form asp-action="RoleAssign" method="post">
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <div class="form-check">
                                <input asp-for="@Model[i].Checked" type="checkbox" class="form-check-input" />
                                <label asp-for="@Model[i].Checked" class="form-check-label">@Model[i].RoleName</label>
                                <input asp-for="@Model[i].RoleName" type="hidden" />
                                <input asp-for="@Model[i].RoleId" type="hidden" />
                            </div>
                        }
                        <button type="submit" class="btn btn-success"> Kaydet </button>
                        <input type="hidden" name="UserId" value="@ViewBag.UserId" />
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        
    </div>
    

    @*<table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ad Soyad</th>
                <th>Kullanıcı Adı</th>
                <th>Telefon No</th>
                <th>ePosta Adresi</th>
                <th>Son Giriş Tarihi</th>
                <th>RolAtama</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserListVM item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td><a asp-action="UserDetail" asp-route-id="@item.Id">@item.AdSoyad</a></td>
                    <td>@item.UserName</td>
                    <td>@item.Telefon</td>
                    <td>@item.Email</td>
                    <td>@item.SonGirisTarihi</td>
                    <td><a asp-action="RoleAssign" asp-route-id="@item.Id">Rol Seç</a></td>
                </tr>
            }
        </tbody>
    </table>*@

</div>

