@model Kullanici
@{


	ViewData["Title"] = "Portal Ana Sayfa";
	//Layout = "~/Views/Shared/_LayoutMetronic1.cshtml";

}


<!--begin::Hero-->
<div class="card card-custom overflow-hidden position-relative mb-8">	 
	<!--begin::Hero Body-->
	<div class="card-body d-flex justify-content-center flex-column col-lg-6 px-8 py-20 px-lg-20 py-lg-40">
		
		 @if (User.Identity.IsAuthenticated)
   {
        var fileName = @User.Identity.Name + ".jpg";
		<div class="row">
			<div class="col-lg-4">
				<div class="p-4">



					<img src="~/img/user/@fileName" width="300px" />

				</div>
			</div>
			<div class="col-lg-8">
				<div class="p-4">
					<div class="text-left">



						<h2 class="text-gray-900 mb-4">Afyonkarahisar Belediyesi Portal 2024</h2>
						<h4 class="text-gray-900 mb-4">Hoşgeldiniz</h4>
						<h4 class="text-gray-900 mb-4">Ad Soyad: @Model.AdSoyad</h4>
						<h4 class="text-gray-900 mb-4">Departman: @Model.Departman </h4>
						<h4 class="text-gray-900 mb-4">Ünvan: @Model.Unvan</h4>
						<h4 class="text-gray-900 mb-4">
							Son Giriş Tarihi: @Model.SonGirisTarihi.ToString("dd.MM.yyyy HH:mm:ss")


							<span class="counter">(Geçen Süre: <span id="timeElapsed"></span>)</span>

						</h4>
						@*  <span class="mr-2 d-none d-lg-inline text-gray-600 small">@ViewBag.UserData.AdSoyad</span> *@


					</div>

				</div>
			</div>
		</div>
		 }
	</div>
	<!--end::Hero Body-->
	<!--begin::Navigation-->
 
	<!--end::Navigation-->
</div>
<!--end::Hero-->
 
<!--begin::Section-->
<div class="row">
	<div class="col-lg-12">
		<!--begin::Callout-->
		<div class="card card-custom p-12 mb-8 mb-lg-0">
			<div class="card-body">
				<div class="row">

					<div class="col-lg-12">
						<div class="p-4">
							<div class="text-left">

								<h4><b>Eklenen Modüller</b></h4>
								<h4>1. Halkla İlişkiler - Yardım Birimi</h4>
								<h4>2. İmar ve Şehircilik Müdürlüğü - Ruhsat Birimi</h4>
								<h4>3. Dijital Belediyecilik - Protokol Kayıtları</h4>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!--end::Callout-->
	</div>
	 
</div>
<!--end::Section-->