@model EnvanterVM
@{
	ViewData["Title"] = "Envanter Tanımlama";
	ViewData["Description"] = "Envanter - Demirbaş Tanımlama";
}
  
<div class="card shadow">
	<div class="card-header">
		Arama Seçenekleri
	</div>
	<div class="card-body">
	 
			<form asp-action="Index" asp-controller="Envanter" method="post" name="VeriFiltre" id="VeriFiltre">

				<div class="row">
					<div class="form-group col-lg-2 col-md-4">
						<label class="control-label">Genel Arama</label>
						<input asp-for="Aciklama" class="form-control form-control-sm" />
					</div>

				<div class="form-group col-lg-2  col-md-4">
						<label asp-for="Departman" class="control-label"></label>
						<select asp-for="EnvanterDepartmanID" class="kt_select2" data-live-search="true" data-size="5" asp-items="@(new SelectList(ViewBag.DepartmanlarListe, "ID", "Ad"))" id="DepartmanlarListe">
							<option value="0">Tümü</option>
						</select>
					</div>
					@if (Model.EnvanterBolumID != 0)
					{
					<div class="form-group col-lg-2  col-md-4">
							<label asp-for="Bolum" class="control-label"></label>
							<select asp-for="EnvanterBolumID" class="kt_select2" data-live-search="true"
									asp-items="@(new SelectList(((IEnumerable<EnvanterBolum>)ViewBag.BolumlerListe).Where(p => p.EnvanterDepartmanID == Model.EnvanterDepartmanID), "ID", "Ad"))"
									data-size="5" id="BolumlerListe">
								<option value="0">Tümü</option>
							</select>
						</div>
					}
					else
					{
					<div class="form-group col-lg-2  col-md-4">
							<label asp-for="Bolum" class="control-label"></label>
							<select asp-for="EnvanterBolumID" class="kt_select2" data-live-search="true" data-size="5" id="BolumlerListe">
								<option value="0">Tümü</option>
							</select>
						</div>
					}
				<div class="form-group col-lg-2  col-md-4">
						<label asp-for="Tur" class="control-label"></label>
						<select asp-for="TurID" class="kt_select2" data-live-search="true" data-size="5" asp-items="@(new SelectList(ViewBag.EnvanterTurListe, "ID", "Ad"))" id="EnvanterTurListe">
							<option value="0">Tümü</option>
						</select>
					</div>
				
				<div class="form-group col-lg-2  col-md-4">
						<label asp-for="Sirket" class="control-label"></label>
						<select asp-for="SirketID" class="kt_select2" data-live-search="true" data-size="5" asp-items="@(new SelectList(ViewBag.SirketlerListe, "ID", "SirketAdi"))" id="SirketlerListe">
							<option value="0">Tümü</option>
						</select>
                    </div>	
					<div class="form-group col-lg-2">
                    <label class="control-label">&nbsp;</label>
					<button type="submit" class="btn btn-primary form-control form-control-sm btn-sm">Ara</button>

					 </div>
				</div>
				<input type="hidden" asp-for="PageIndex" />
				<input type="hidden" asp-for="PageSize" />
				<input type="hidden" asp-for="ct" />

			@* 	<table class="table table-bordered table-sm TableSmallFont" width="100%" cellspacing="0">
					<tr>
						<td>
							<div class="form-group">
								<label class="control-label">Genel Arama</label>
								<input asp-for="Aciklama" class="form-control form-control-sm" />
							</div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label asp-for="Departman" class="control-label"></label>
                                <select asp-for="EnvanterDepartmanID" class="kt_select2" data-live-search="true" data-size="5" asp-items="@(new SelectList(ViewBag.DepartmanlarListe, "ID", "Ad"))" id="DepartmanlarListe">
                                    <option value="0">Tümü</option>
                                </select>
                            </div>
                        </td>
						<td>
							@if (Model.EnvanterBolumID!=0)
								{
								<div class="form-group">
									<label asp-for="Bolum" class="control-label"></label>
									<select asp-for="EnvanterBolumID" class="kt_select2" data-live-search="true"
											asp-items="@(new SelectList(((IEnumerable<EnvanterBolum>)ViewBag.BolumlerListe).Where(p => p.EnvanterDepartmanID == Model.EnvanterDepartmanID), "ID", "Ad"))"
									data-size="5" id="BolumlerListe">
										<option value="0">Tümü</option>
									</select>
								</div>
								}
								else
								{
                                <div class="form-group">
									<label asp-for="Bolum" class="control-label"></label>
                                    <select asp-for="EnvanterBolumID" class="kt_select2" data-live-search="true" data-size="5" id="BolumlerListe">
                                        <option value="0">Tümü</option>
                                    </select>
                                </div>
								}
								
						</td>
						
						<td>
							<div class="form-group">
								<label asp-for="Tur" class="control-label"></label>
								<select asp-for="TurID" class="kt_select2" data-live-search="true" data-size="5" asp-items="@(new SelectList(ViewBag.EnvanterTurListe, "ID", "Ad"))"  id="EnvanterTurListe">
									<option value="0">Tümü</option>
								</select>
							</div>
						</td>
						<td>
							<div class="form-group">
								<label asp-for="Sirket" class="control-label"></label>
								<select asp-for="SirketID" class="kt_select2" data-live-search="true" data-size="5" asp-items="@(new SelectList(ViewBag.SirketlerListe, "ID", "SirketAdi"))"  id="SirketlerListe">
									<option value="0">Tümü</option>
								</select>
							</div>
						</td>
						<td>
							<div class="form-group">
								<label class="control-label">&nbsp;</label>
								<button type="submit" class="btn btn-primary form-control btn-sm">Ara</button>

							</div>
						</td>
					</tr>
				</table> *@
			</form>
	 
	</div>
</div>
<br />
<!--begin::Card-->
<div class="card card-custom">
	<div class="card-header flex-wrap py-3">
		<div class="card-title">
			<h3 class="card-label">
				Envanter Tanımlama
				<span class="d-block text-muted pt-2 font-size-sm">Detay</span>
			</h3>
		</div>
		<div class="card-toolbar">
			
			 
			@{ 
				await Html.RenderPartialAsync("~/Views/Shared/SitePartial/_CreateButton.cshtml");
			}
			 
		</div>
	</div>
	<div class="card-body " id="cardBody">
		<div class="table-responsive">
			<!--begin: Datatable-->
			@{
				await Html.RenderPartialAsync("_Table", Model);
			}
			<!--end: Datatable-->
		</div>
	
	</div>
</div>
<!--end::Card-->
@{
	//await Html.RenderPartialAsync("_PartialModalVeri");
	await Html.RenderPartialAsync("_PartialModal", new ModalSettings { ModalID = "ModalVeri", BodyID = "VeriAlan", Genislik = "xl" });
}

@{
	await Html.RenderPartialAsync("_PartialModalDosya",
	new AuthorizeCrudVM { Controller = "Envanter", HaritaEkle = false });
}
 

<div id="ModalFotoEkle" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Foto Ekle</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
					<span aria-hidden="true">&times;</span>
					<i aria-hidden="true" class="ki ki-close"></i>
				</button>
			</div>

			<div class="modal-body" id="DetaylarFoto">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
			</div>

		</div>

	</div>
</div>

@section JSSection {
	 
	 <script>
		  
		  
		   function FotoGetir(id) {
		GetAjax('Envanter/_FotoGetir?demirbasID=' + id, 'DetaylarFoto');
		}
		 </script>


	<script src="js/select2.js?v=7.0.5"></script>
	@{
		await Html.RenderPartialAsync("_PartialAuthorizeCrud",
		new AuthorizeCrudVM
		{
			Controller = "Envanter",
			ModulID = (int)ModulEnum.Envanter,
			DosyaYolu = "Envanter"
		});
	}
	@{
		await Html.RenderPartialAsync("_PartialDataTableScript");
	}
	<script>

		$('#DepartmanlarListe').change(function () {
		var selectedDepartmentId = $(this).val(); // Get the selected department ID
		GetAjax('Envanter/GetBolumler?ParametreID=' + selectedDepartmentId, 'BolumlerListe');
		});

    
	</script>
	 
}


