@model RequestUrunlerVM



<table class="table table-bordered table-hover table-checkable" id="kt_datatable1">
    <thead>
        <tr> 
            <th>Talep No</th>
            <th>Talep Tarihi</th>
            <th>Şirket</th>
            <th>Malzeme Kodu</th>
            <th>Malzeme Adı</th>         
            <th>Miktar</th>         
            <th>Not</th>    
            <th class="no-print crudBtnRow">Düzenle</th>

        </tr>
    </thead>
    <tbody>
        @foreach (RequestUrunlerVM item in Model.RequestUrunlerVMListe)
        {
            <tr data-id="@item.ID" class="@(item.IsDelete ? "deleted" : "")"> 
                <td>@item.ID</td>
                <td>@item.RequestDate.ToShortDateString()</td>
                <td>@item.SirketAd</td>
                <td>@item.UrunKod</td>
                <td>@item.UrunAd</td>
                <td>@item.MiktarSon @item.BirimAd</td>
               
                 
                <td>@(!string.IsNullOrWhiteSpace(item.Aciklama) ? item.Aciklama : "—")</td> 
                
                <td>
                    <a class="btn btn-sm btn-info" href="/offer/detail/@item.ID">Teklif Yönetimi</a>
                </td>
            </tr>
        }


    </tbody>
</table>

 

@if (Model.TotalPages > 1)
{ 
    await Html.RenderPartialAsync("~/Views/Shared/SitePartial/_Pager.cshtml", new PagerModel { PageIndex = Model.PageIndex, PageSize = Model.PageSize, TotalCount = Model.TotalCount });
}

 