@using Microsoft.AspNetCore.Identity
@inject UserManager<Kullanici> UserManager
@model OfferVM
@{
    Layout = null;
}


@{
    var user = await UserManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Teklif Yazdır - @Model.TTN </title>
    <link href="~/css/_printoffer.css" rel="stylesheet" />
    <link href="~/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!-- BEGIN PAGE FIRST SCRIPTS -->
 
    <!--begin::Global Theme Styles(used by all pages)-->
   @*  <link href="~/assets1/plugins/global/plugins.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" />
    <link href="~/assets1/plugins/custom/prismjs/prismjs.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" />
    <link href="~/assets1/css/style.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" /> *@
    <!--end::Global Theme Styles-->
 
    <!--begin::Layout Themes(used by all pages)-->
    <link href="~/assets1/css/themes/layout/header/base/light.css?v=7.0.5" rel="stylesheet" type="text/css" />
    <link href="~/assets1/css/themes/layout/header/menu/light.css?v=7.0.5" rel="stylesheet" type="text/css" />
    <link href="~/assets1/css/themes/layout/brand/dark.css?v=7.0.5" rel="stylesheet" type="text/css" />
    <link href="~/assets1/css/themes/layout/aside/dark.css?v=7.0.5" rel="stylesheet" type="text/css" />


</head>
<body>

    <div class="container" id="container">
        <!-- ANTET -->
        <div class="header center">
            @if (Model.SirketID == 1)
            {
                <img src="/img/holimer2025.png" style="height:68px;" />
            }
            else if (Model.SirketID == 2)
            {
                <img src="/img/fw.png" style="height:68px;" />
            }
            else if (Model.SirketID == 3)
            {
                <img src="/img/anfora.png" style="height:68px;" />
            }
            else if (Model.SirketID == 4)
            {
                <img src="/img/ebvital.png" style="height:68px;" />
            }
            <div class="title">@Model.SirketAd</div>
         
            <div>
                @Model.SirketAdres <br /> 

                Web Sitesi:@Model.SirketWebSitesi  

                Vergi Dairesi: @Model.SirketVergiDairesi 

                VKN: @Model.SirketVergiNo   <br /> <br />
                <h3>TEKLİF KABUL</h3>
            </div>
        </div>
        

        <!-- INFO -->
        <table>
            <tr>
                <td>Standart Kod</td>
                <td>@Model.DosyaID</td>
                <td>Yayın Tarihi</td>
                <td></td>
            </tr>
            <tr>
                <td>Talep Takip No</td>
                <td>@Model.TTN</td>
                <td>Revizyon No</td>
                <td></td>
            </tr>
            <tr>
                <td>Satın Alınan Firma</td>
                <td colspan="3">@Model.FirmaAd 
                    <br />
                    Vergi No: @Model.Firma.VergiNo   Vergi Dairesi: @Model.Firma.VergiDairesi <br />
                    IBAN: @Model.Firma.Iban <br />
                    Telefon: @Model.Firma.Telefon E-Posta:@Model.Firma.Eposta <br />
                    Adres: @Model.Firma.Adres <br />
                    <button class="btn btn-info no-print" data-toggle="modal"  data-target="#ModalVeri" onclick="FirmaDuzenle('@Model.Firma.ID')">Düzenle</button>

                </td>
            </tr>
            <tr>
                <td>Düzenleme Tarihi</td>
                <td>@Model.CreateDate?.ToShortDateString()</td>
                <td>Teslim Tarihi</td>
                <td>@Model.TeslimTarihi.ToShortDateString()</td>
            </tr>
        </table>
            @{
                double tutar = 0;
                string doviz = "";
                if (Model.DovizTurID == 1) // TL
                {
                    tutar = (double)(Model.Miktar * Model.Fiyat);
                    doviz = "₺";
                }
                else if (Model.DovizTurID == 2) // USD
            { tutar = (double)(Model.Miktar * Model.Fiyat * Model.UsdRate); doviz = "$"; }
                else if (Model.DovizTurID == 3) // EUR
            { tutar = (double)(Model.Miktar * Model.Fiyat * Model.EurRate); doviz = "€"; }

                double kdv=(tutar * Model.UrunKdv)/100;
                double toplam=kdv+tutar;
        }
        <!-- ÜRÜNLER -->
        <table>
            <thead>
                <tr class="center bold">
                    <th>S.NO</th>
                    <th>ÜRÜN ADI</th>
                    <th>MİKTAR</th>
                    <th> KDV</th>
                    <th>TUTAR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center">1</td>
                    <td>@Model.UrunAd <br /> (Talep Not:@Model.TalepNot) <br /> (Teklif Not:@Model.Not)</td>
                    <td class="right">@Model.Miktar</td>
                    <td class="right">@Model.UrunKdv</td>
                    <td class="right">@tutar.ToString("N2") @doviz</td>
                </tr>

                <tr>
                    <td colspan="4" class="right">KDV</td>
                    <td class="right">@kdv.ToString("N2") @doviz</td>
                </tr>

                <tr class="bold">
                    <td colspan="4" class="right">Toplam</td>
                    <td class="right"> @toplam.ToString("N2") @doviz</td>
                </tr>
            </tbody>
        </table>

        <br />

        <!-- ALT BİLGİ -->
        <table class="no-border" style="width:50%">
            <tr>
                <td><b>Ödenecek Tutar :</b></td>
                <td class="text-right"> @toplam.ToString("N2") @doviz</td>
            </tr>
            <tr>
                <td><b>Vade :</b></td>
                <td class="text-right">@Model.Vade</td>
            </tr>
            <tr>
                <td><b>Ödeme Yöntemi :</b></td>
                <td class="text-right">
                    @if(Model.OdemeTurID==1)
                    {
                        <span>Havale</span>
                    }
                     else if(Model.OdemeTurID==2)
                    {
                        <span>Kredi Kartı</span>
                    }
                    else if(Model.OdemeTurID==3)
                    {
                        <span>Çek</span>
                    }

                </td>
            </tr>
            <tr>
                <td><b>Ödeme Tarihi :</b></td>
                <td class="text-right"> @Model.OdemeTarihi?.ToShortDateString()</td>
            </tr>
        </table>

        <br /><br />

        <!-- İMZA -->
        <table class="w-100 fixed-table">
            <tr class="center bold">
                <td style="width:16%">Formu Düzenleyen</td>
                <td style="width:16%">Talep Eden</td>
                <td style="width:16%">Satınalma Müdürü</td>
                <td style="width:16%">Muhasebe Müdürü</td>
                @if (!string.IsNullOrWhiteSpace(@Model.GenelMudur))
                    {
                    <td style="width:16%">Genel Müdür</td>
                    }
               
                <td style="width:16%">Koordinatör</td>
            </tr>
            <tr class="center">
                <td>@user?.AdSoyad</td>
                <td>@Model.requestUserName</td>
                <td>@Model.SatinalmaMuduru </td>
                <td>@Model.MuhasebeMuduru </td>
                @if (!string.IsNullOrWhiteSpace(@Model.GenelMudur))
                {
                    <td>@Model.GenelMudur </td>
                } 
                <td>@Model.GenelKoordinator</td>
            </tr>
            <tr class="center"> 
                <td style="height:100px"> </td> 
                <td style="height:100px"> </td> 
                <td style="height:100px"> </td> 
                <td style="height:100px"> </td> 
                @if (!string.IsNullOrWhiteSpace(@Model.GenelMudur))
                {
                    <td style="height:100px"> </td>
                } 
                <td style="height:100px"> </td> 
            </tr>
        </table>

        <div class="row mt-5">
            <div class="col-lg-12 text-right">
                <button class="btn btn-danger no-print" onclick="kapat()">Kapat</button>
                <input type="button" value="Yazdır" class="btn btn-primary print  no-print" onclick="Yazdir2('#container')" />
            </div>
          
        </div>
    </div>


    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" } }, "font-family": "Poppins" };</script>
	
    <script src="~/assets1/plugins/global/plugins.bundle.js?v=7.0.5"></script>
    <script src="~/assets1/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.5"></script>
    <script src="~/assets1/js/scripts.bundle.js?v=7.0.5"></script>
   
    
   
    <script src="~/js/printthis.js"></script>
    <script>
                    function Yazdir2(tableid) {
        
                $(tableid).printThis();
 
            }
                       
            function kapat() {
                if (confirm("Pencereyi kapatmak istediğinize emin misiniz?")) {
                    window.open('', '_self');
                    window.close();
                }
            }
            function FirmaDuzenle(FirmaID) {

                 
                 $.ajax({
                     url: '@Url.Action("MusteriDuzenle", "Musteriler")',
                     type: 'GET',
                     dataType: "html",
                     data: {
                         FirmaID:FirmaID,
                     },
                     success: function(response) {
                         $('#VeriAlan').html(response);
                       toastr.success('Kaydetme İşlemi Başarılı', 'Başarılı');
                     },
                     error: function(xhr, status, error) {

                         toastr.error('Açıklama:' + xhr.responseText, 'Hata!');
                 
                     }
                 });
             }
    </script>
    @{
        await Html.RenderPartialAsync("_PartialModal", new ModalSettings { ModalID = "ModalVeri", BodyID = "VeriAlan", Genislik = "xl" });
    }

</body>
</html>