@model List<DosyaVM>;
@{
    var imageExtensions = new List<string> { ".jpg", ".jpeg", ".png", ".gif", ".webp", ".tif", ".tiff" };
}

@foreach (DosyaVM item in Model)
{
    <tr>
        <td>@item.DosyaAdi</td>
        <td>@item.FileName</td>
        <td class="text-right">@((item.DosyaBoyutu / (1024.0 * 1024.0))?.ToString("N2")) mb</td>
        <td>@item.OlusturulmaTarihi</td>
        <td>

            @if (imageExtensions.Contains(item.DosyaUzantisi.ToLower()))
            {
                <input type="checkbox" value="@item.Is360" @(item.Is360 == true ? "checked" : "") data-id="@item.ID" data-kayitid="@item.KayitID" data-modulid="@item.ModulID" class="form-control form-control-sm" onchange="updateIs360(this)" />

            } 
        </td>
        <td style="width:120px">
            @if (item.Is360==true)
            {
                <button type="button" class="btn btn-primary btn-sm" data-filename="@item.DosyaAdi" data-filepath="@item.ModulDosyaYolu" onclick="View360(this)">
                    <i class="fas fa-eye"></i>  Görüntüle
                </button>              
               
            }
            else
            {
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#pdfModal" data-filename="@item.DosyaAdi" data-filepath="@item.ModulDosyaYolu">
                    <i class="fas fa-eye"></i>  Görüntüle
                </button>
            }
           
        </td>
           @if (User.HasClaim("Authorize", "FileDelete"))
            {
                 <td style="width:100px">
                <button type="button" class="btn btn-danger btn-sm" itemid="@item.ID" onclick="return confirmFileDeletion('@item.ID','@item.KayitID','@item.ModulID','@item.ModulDosyaYolu')">
                    <i class="fas fa-trash"></i> Sil  
                </button>
            </td>
            }
    </tr>
}
<div id="Goruntu360" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            @* <div class="modal-header">
				<h5 class="modal-title">Görüntüle</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Kapat"><span aria-hidden="true">&times;</span></button>
			</div> *@
            <div class="modal-body">
                 
                <iframe id="iframeContent" name="iframeContent" src="" width="100%" height="650px" frameborder="0"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="ModalKapat()">Kapat</button>
            </div>
        </div>
    </div>
</div>
 
  @if (User.HasClaim("Authorize", "FileDelete"))
{
	<script>
		function BilesenSil(id,kayitId,ModulId,dosyaYolu) 
        {
            GetAjax('DosyaYonetimi/DosyaSil?DosyaYolu='+dosyaYolu+'&DosyaID=' + id + '&ModulID='+ModulId+'&VeriID='+kayitId, 'DosyaListesi');
		}

		function confirmFileDeletion(id,kayitId,ModulId,dosyaYolu) 
        {
			var confirmation = confirm("Bu öğeyi sil mek istediği nizden emin misiniz?");
			if (confirmation) 
            {
				BilesenSil(id,kayitId,ModulId,dosyaYolu);
			}
			return false; // Prevent the default link behavior
		}
	</script>
}

<script>
        var filename ;
           var filepath ;
          


    function updateIs360(checkbox) 
 {
    var id = checkbox.getAttribute("data-id"); 
    var modulid = checkbox.getAttribute("data-modulid");
       var kayitid = checkbox.getAttribute("data-kayitid");
       var isChecked = checkbox.checked;       
      $.ajax({
            url: '/DosyaYonetimi/UpdateIs360',  
            method: 'POST',
                  data: { ID: id, Is360: isChecked,ModulID:modulid,KayitID:kayitid},
               success: function (response) {
                toastr.success('Kaydetme başarılı', 'Başarılı');
                   $('#DosyaListesi').html(response);
            },
            error: function (xhr, status, error) {
                
                toastr.error('Açıklama : ' + xhr.responseText, 'Hata!');
            }
        });      
  }
  function View360(btn)
     {
          filename = $(btn).data('filename');
          filepath = $(btn).data('filepath');

        //      $.ajax({
        //     url: '/DosyaYonetimi/View360',  
        //     method: 'POST',  
        //     data: { filename: filename, filepath: filepath},  
        //     success: function (response) {
        //         $('#Modal360').modal('show');
        //         $('#Frame360Body').html(response);                 
        //     },
        //     error: function (xhr, status, error) {

        //         toastr.error('Açıklama : ' + xhr.responseText, 'Hata!');
        //     }
        // }); 
            
      // window.open('/DosyaYonetimi/View360?filename=' + filename + '&filepath=' + filepath, '_blank', 'width=800,height=600');
      //$('#Modal360').modal('show');
       //  $('#iframeContent').attr('src', '/DosyaYonetimi/View360?filename=' + filename + '&filepath=' + filepath);
        $('#Goruntu360').modal('show');
         
  }
         
  $('#Goruntu360').on('shown.bs.modal', function () {
                           $('#iframeContent').attr('src', '/DosyaYonetimi/View360?filename=' + filename + '&filepath=' + filepath);
                 // $('#Goruntu360').modal('show');
                  })

                  function ModalKapat()
                  {
                         $("#Goruntu360").modal('hide');
                  }
</script>

