<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Afyonkarahisar Belediyesi</title>
    <link rel="shortcut icon" href="~/img/favicon.ico" />
    <!-- Custom fonts for this template-->
    <link href="@Url.Content("~/vendor/fontawesome-free/css/all.min.css")" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="@Url.Content("~/css/sb-admin-2.css")" rel="stylesheet">
    @RenderSection("CSSection", required: false)
</head>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-lacivert sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Home/Index">
                <div class="sidebar-brand-icon">
                    <img src="~/img/logo-Ekomers.png" width="30" />
                </div>
                <div class="sidebar-brand-text mx-3">AfBel</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a asp-controller="Home" asp-action="Index" class="nav-link">
                    <i class="fas fa-fw fa-list"></i>
                    <span>Ana Sayfa</span>
                </a>
            </li>
         
            <li class="nav-item active">
                <a asp-controller="Home" asp-action="SignIn" class="nav-link">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Sisteme Giriş</span>
                </a>
            </li> 
            <li class="nav-item active">
                <a asp-controller="Home" asp-action="SignUp" class="nav-link">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Üyelik Formu</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block" />

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <table width="100%" cellspacing="0">
                        <tr>
                            <td><img src="~/img/logo_afyon.jpg" width="60px" /></td>
                            <td class="text-center">
                                T.C.<br />
                                AFYONKARAHİSAR BELEDİYE BAŞKANLIĞI<br />
                               
                                    <span>Destek Hizmetler Müdürlüğü</span>
                                
                            </td>
                            <td><img src="~/img/logo100.png" width="60px" /></td>
                        </tr>
                    </table>
                </nav>
                @RenderBody()

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Afyonkarahisar Belediyesi 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <script src="@Url.Content("~/vendor/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/vendor/bootstrap/js/bootstrap.bundle.min.js")"></script>
    <script src="@Url.Content("~/vendor/jquery-easing/jquery.easing.min.js")"></script>
    <script src="@Url.Content("~/js/sb-admin-2.min.js")"></script>
</body>
</html>