
<!DOCTYPE html>
<html lang="tr">
<!--begin::Head-->
<head>
	<base href="../../../">
	<meta charset="utf-8" />
	<title>@ViewData["Title"] - Holimer İlaç Grup</title>
	<meta name="description" content="@ViewData["Description"]" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<!--begin::Fonts-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
	<!--end::Fonts-->
	<!-- BEGIN PAGE FIRST SCRIPTS -->
	@RenderSection("js_firstScripts", false)
	<!--begin::Global Theme Styles(used by all pages)-->
	<link href="assets1/plugins/global/plugins.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" />
	<link href="assets1/plugins/custom/prismjs/prismjs.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" />
	<link href="assets1/css/style.bundle.css?v=7.0.5" rel="stylesheet" type="text/css" />
	<!--end::Global Theme Styles-->
	<link href="@Url.Content("~/css/custom.css")" rel="stylesheet">
	<!--begin::Page Vendors Styles(used by this page)-->
	@await RenderSectionAsync("CSSection", false)
	<!--end::Page Vendors Styles-->
	@RenderSection("css_plugins", false)
	<!--begin::Layout Themes(used by all pages)-->
	<link href="assets1/css/themes/layout/header/base/light.css?v=7.0.5" rel="stylesheet" type="text/css" />
	<link href="assets1/css/themes/layout/header/menu/light.css?v=7.0.5" rel="stylesheet" type="text/css" />
	<link href="assets1/css/themes/layout/brand/dark.css?v=7.0.5" rel="stylesheet" type="text/css" />
	<link href="assets1/css/themes/layout/aside/dark.css?v=7.0.5" rel="stylesheet" type="text/css" />
	<!--end::Layout Themes-->
	@* <link rel="shortcut icon" href="assets1/media/logos/favicon.ico" /> *@
	<link rel="shortcut icon" href="~/img/favicon.ico" />
</head>
<!--end::Head-->
<!--begin::Body-->
<body>

    @RenderBody()



    <!--begin::Scrolltop-->
	@{
		await Html.RenderPartialAsync("metronic/kt_scrolltop");
	}
	<!--end::Scrolltop-->
 

	<!--begin::Global Config(global config for global JS scripts)-->
	<script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" } }, "font-family": "Poppins" };</script>
	<!--end::Global Config-->

	<!--begin::Page Vendors(used by this page)-->
	@RenderSection("js_plugins", false)
	<!--begin::Global Theme Bundle(used by all pages)-->
	<script src="assets1/plugins/global/plugins.bundle.js?v=7.0.5"></script>
	<script src="assets1/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.5"></script>
	<script src="assets1/js/scripts.bundle.js?v=7.0.5"></script>
	<script src="@Url.Content("~/js/printThis.js")"></script>
	<script src="@Url.Content("~/js/ajax.js")"></script>
	<script src="@Url.Content("~/js/custom.js")"></script>
	<!--end::Global Theme Bundle-->
	<!--begin::Page Scripts(used by this page)-->
	@await RenderSectionAsync("JSSection", false)
	<!--end::Page Scripts-->

</body>
<!--end::Body-->
</html>
