@model ZimmetVM
<table class="table table-bordered table-hover table-checkable" id="kt_datatable1">
	<thead>
		<tr> 
			<th>Fotograf</th>
			<th>Şirket</th> 
			<th>Yer Kodu</th>
			<th>Envanter Adı</th>
			<th>Marka / Model</th>
			<th>Seri No</th> 
			<th class="no-print crudBtnRow">İşlem</th>

		</tr>
	</thead>
	<tbody>
		@foreach (EnvanterVM item in Model.EnvanterVMListe)
		{
			<tr data-id="@item.ID" class="@(item.IsDelete ? "deleted" : "")"> 
				<td><img src="/Envanter/img/@item.Fotograf" height="35px" /></td>
				<td>@item.Sirket</td> 
				<td>@item.DepartmanKod - @item.BolumKod - @item.TurKod - @item.Numara</td>
				<td>@item.Ad</td>
				<td>@item.Marka / @item.Model</td>
				<td>@item.SeriNo</td>
				<td>
					@if (item.PersonelID==0)
					{
						<button class="btn btn-sm btn-info" onclick="ZimmetEkle(@item.ID)" type="button">Ekle</button>
					}
					else
					{
						<span>Ekli</span>
					}
				</td>
				 
			</tr>
		}


	</tbody>
</table>

<script type="text/javascript">
    function ZimmetEkle(envanterID) {
    $('#EnvanterID').val(envanterID);
		GetAjax('Zimmet/ZimmetListeyeEkle?envanterID=' + envanterID, 'ZimmetEkliListe');
    }
</script>