@model ZimmetVM
<form asp-controller="Zimmet" asp-action="ZimmetGeriAl" method="post" name="_VeriEkle" id="_VeriEkle">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Model.ModalTitle</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Kapat"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-8">
            <div class="form-group row">
                <div class="col-lg-8">
                            <b>ENVANTER BİLGİLERİ</b>
                            <hr />

                            <b>Envanter Adı :</b> @Model.Envanter.Ad <br />
                            <b>Yer Kodu :</b> @Model.Envanter.YerKodu <br />
                            <b>Marka / Model :</b> @Model.Envanter.Marka / @Model.Envanter.Model <br />
                            <b>Seri No :</b> @Model.Envanter.SeriNo <br /> 
                </div> 
            </div> 
                    <div class="form-group row">

                        <div class="col-lg-8">
                            <b>PERSONEL BİLGİLERİ</b>
                            <hr />

                            <b>Ad Soyad :</b> @Model.Personel.AdSoyad <br />
                            <b>Telefon :</b> @Model.Personel.Telefon <br />
                            <b>E-Posta :</b> @Model.Personel.Email <br />
                            <b>Şirket :</b> @Model.Sirket.SirketAdi <br />

                           
                        </div>

                 

                       
                    </div>
                   


                </div>
                    <div class="col-lg-4">
                        <img src="/Envanter/img/@Model.Envanter.Fotograf" style="height:200px" />
                    </div>
                </div>

            <div class="form-group row">
                <div class="col-lg-12">
                    <label asp-for="AciklamaIlk" class="control-label bold"></label> : @Model.AciklamaIlk
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-4">
                    <label asp-for="ZimmetTarihi" class="control-label bold"></label>
                    <input asp-for="ZimmetTarihi" class="form-control form-control-sm" type="date" readonly />
                </div>
            <div class="col-lg-4">
                    <label asp-for="TeslimTarihi" class="control-label bold"></label>
                <input asp-for="TeslimTarihi" class="form-control form-control-sm" type="date" required />
                </div> 
                <div class="col-lg-4">
                    <label asp-for="AyrilisTarihi" class="control-label bold"></label>
                    <input asp-for="AyrilisTarihi" class="form-control form-control-sm" type="date" required />
            </div>
        </div>
            <div class="form-group row">
                <div class="col-lg-12">
                    <label asp-for="AciklamaSon" class="control-label bold"></label>

                    <textarea name="AciklamaSon" class="form-control form-control-sm" rows="5" required>Yukarıda yazılı olan tarihte işten ayrıldığımı ve işe giriş tarihinde şahsıma zimmetlenmiş yukarıdaki malzemeyi eksiksiz teslim ettiğimi beyan ederim.</textarea>
                    <span asp-validation-for="AciklamaSon" class="text-danger"></span>
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="EnvanterID" />
            <input type="hidden" asp-for="PageIndex" />
            <input type="hidden" asp-for="PageSize" />
            <input type="hidden" asp-for="CreateDate" />
            <input type="hidden" asp-for="DeleteDate" value="@DateTime.Now" />
            <input type="hidden" asp-for="UpdateDate" value="@DateTime.Now" />
            <input type="hidden" asp-for="IsActive" value="true" />
            <input type="hidden" asp-for="IsDelete" value="false" />
            <input type="hidden" asp-for="CreateUserID" value="@Model.CreateUserID" />
            <input type="hidden" asp-for="UpdateUserID" value="@Model.UserID" />
            <input type="hidden" asp-for="DeleteUserID" value="@Model.UserID" />
            <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
            <button type="submit" class="btn btn-success">Geri Al ve Kaydet</button>
        </div>
    </div>
</form>

 

 
 
