@model PersonelVM



<table class="table table-bordered table-hover table-checkable" id="kt_datatable1">
    <thead>
        <tr> 
            <th>Fotograf</th>
            <th>Personel No</th>
            <th>Şirket</th> 
            <th>Departman / Görev</th> 
            <th>Ad Soyad</th> 
            <th>Telefon</th> 
            <th>Şirket Telefonu</th>
            <th>Eposta</th>          
            <th>Doğum Tarihi</th>     
            <th>Foto Ekle</th>
            <th>Dosya</th>  
            <th class="no-print ">Düzenle</th>
           @*  <th class="no-print ">Görüntüle</th> *@

        </tr>
    </thead>
    <tbody>
        @foreach (PersonelVM item in Model.PersonelVMListe)
        {
            <tr data-id="@item.ID" class="@(item.IsDelete ? "deleted" : "")"> 
                <td>
                    @if (!String.IsNullOrEmpty(@item.Fotograf))
                    {
                        <img src="/ENVANTER/Personel/img/@item.Fotograf"
                             style="height:35px; cursor:pointer"
                             class="resimOnizleme"
                             data-resim="/ENVANTER/Personel/img/@item.Fotograf" />
                    }

                </td>
                <td>@item.PersonelKod</td>
                <td>@item.SirketAd</td>
                <td>@item.DepartmanAd / @item.Gorev</td>
                <td>@item.AdSoyad</td>
                <td>@item.Telefon</td>
                <td>@item.TelefonSirket</td>
                <td>@item.Email</td>
                <td>@item.DogumTarihi.ToString("dd.MM.yyyy")</td> 
                <td class="no-print"><a href="#" onclick="FotoGetir('@item.ID')" data-toggle="modal" data-target="#ModalFotoEkle"><i class="icon-x   flaticon-attachment"></i>&nbsp; Foto</a></td>
					@{
                    await Html.RenderPartialAsync("~/Views/Shared/SitePartial/_ButtonGroupTable2.cshtml",
						new AuthorizeCrudVM { ID = item.ID, DosyaEkle = true, HaritaEkle = false, ModulID = (int)ModulEnum.Personel , View = true, Edit = true, Delete = false, Copy = false});
					}
                
            </tr>
        }


    </tbody>
</table>

 

@if (Model.TotalPages > 1)
{ 
    await Html.RenderPartialAsync("~/Views/Shared/SitePartial/_Pager.cshtml", 
    new PagerModel { PageIndex = Model.PageIndex, PageSize = Model.PageSize, TotalCount = Model.TotalCount });
}

 