@model PersonelVM



<table class="table table-bordered table-hover table-checkable" id="kt_datatable1">
    <thead>
        <tr> 
            <th>Personel No</th>
            <th>Şirket</th> 
            <th>Departman</th> 
            <th>Ad Soyad</th> 
            <th>Telefon</th> 
            <th>Şirket Telefonu</th>
            <th>Eposta</th>          
            <th>Doğum Tarihi</th>     
            <th>Dosya</th>  
            <th class="no-print crudBtnRow">Düzenle</th>

        </tr>
    </thead>
    <tbody>
        @foreach (PersonelVM item in Model.PersonelVMListe)
        {
            <tr data-id="@item.ID" class="@(item.IsDelete ? "deleted" : "")"> 
                <td>@item.PersonelKod</td>
                <td>@item.SirketAd</td>
                <td>@item.DepartmanAd</td>
                <td>@item.AdSoyad</td>
                <td>@item.Telefon</td>
                <td>@item.TelefonSirket</td>
                <td>@item.Email</td>
                <td>@item.DogumTarihi.ToString("dd.MM.yyyy")</td> 
  
					@{
						await Html.RenderPartialAsync("_PartialAuthorizeScript",
						new AuthorizeCrudVM { ID = item.ID, DosyaEkle = true, HaritaEkle = false, ModulID = (int)ModulEnum.Personel });
					}
				 
            </tr>
        }


    </tbody>
</table>

 

@if (Model.TotalPages > 1)
{ 
    await Html.RenderPartialAsync("~/Views/Shared/SitePartial/_Pager.cshtml", 
    new PagerModel { PageIndex = Model.PageIndex, PageSize = Model.PageSize, TotalCount = Model.TotalCount });
}

 