@model OfferVM



<table class="table table-bordered table-hover table-checkable" id="kt_datatable1">
    <thead>
        <tr> 
            <th>Talep No</th>
            <th>Şirket</th>
            <th>Talep Tarihi</th> 
            <th>Firma Adı</th>          
            <th>Ürün Adı</th>          
            <th>Miktar</th>  
            <th>Fiyat</th>  
            <th>Toplam</th>  
            <th class="no-print crudBtnRow">İşlemler</th>

        </tr>
    </thead>
    <tbody>
        @{
            double kur = 1;
            string doviz = "";
        }
        @foreach (OfferVM item in Model.OfferVMListe)
        {
            if (item.DovizTurID == 1)
            {
                kur = 1; doviz = "₺";
            }
            else if (item.DovizTurID == 2)
            {
                kur = Convert.ToDouble(item.UsdRate); doviz = "$";
            }
            else
            {
                kur = Convert.ToDouble(item.EurRate); doviz = "€";
            }
            var tlFiyat = item.Fiyat * kur;
            <tr data-id="@item.ID" class="@(item.IsDelete ? "deleted" : "")"> 
                <td>@item.ID</td>
                <td>@item.SirketAd</td>
                <td>@item.RequestDate.ToString("dd.MM.yyyy HH:mm")</td> 
                <td>@item.FirmaAd</td>
                <td>@item.UrunAd</td>
                <td class="text-right">@item.Miktar</td>
                <td class="text-right">₺ @tlFiyat.ToString("n2")</td>
                <td class="text-right">@doviz @((tlFiyat * item.Miktar).ToString("n2"))</td>
                <td>    
                    <a class="btn btn-light btn-hover-warning btn-sm mr-1" href="/order/onaydetail/@item.RequestUrunID">Sipariş Ver</a>
                </td>
             
            </tr>
        }


    </tbody>
</table>

 

@if (Model.TotalPages > 1)
{ 
    await Html.RenderPartialAsync("~/Views/Shared/SitePartial/_Pager.cshtml", new PagerModel { PageIndex = Model.PageIndex, PageSize = Model.PageSize, TotalCount = Model.TotalCount });
}

 