@model TeklifVM
@{
    ViewData["Title"] = "Teklif Listesi";
    ViewData["Description"] = "Çalışma Sayfası - Teklif / Görev";
}

 
            <div class="card card-custom">
                <div class="card-header card-header-tabs-line">
                    <div class="card-title">
                     
            @if (Model.SiparisID == null)
            {
                <a href="/Siparis/TekliftenSiparise?TeklifID=@Model.ID" class="btn btn-sm btn-primary font-weight-bold mr-3">Siparişe Çevir</a>
            }   
            <h3 class="card-label">@Model.ModalTitle</h3>
                    </div>
                    <div class="card-toolbar">
         
                        <ul class="nav nav-tabs nav-bold nav-tabs-line">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1_4">
                                    <span class="nav-icon"><i class="flaticon2-search"></i></span>
                                    <span class="nav-text">Detaylar</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2_4">
                                    <span class="nav-icon"><i class="flaticon2-document"></i></span>
                                    <span class="nav-text">Dosyalar</span>
                                </a>
                            </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_3_4">
                        <span class="nav-icon"><i class="flaticon-exclamation-1"></i></span>
                        <span class="nav-text">Hareket Kayıtları</span>
                    </a>
                </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="kt_tab_pane_1_4" role="tabpanel" aria-labelledby="kt_tab_pane_1_4">
                        <form asp-controller="@Model.ControllerName" asp-action="VeriEkle" method="post" name="_VeriEkle2" id="_VeriEkle2">  
                            @{
                                await Html.RenderPartialAsync("_form", Model);
                            }
                                <div class="text-right mt-3">
                                    <input type="hidden" asp-for="ID" />
                                    <input type="hidden" asp-for="CreateDate" />
                                    <input type="hidden" asp-for="UpdateDate" value="@DateTime.Now" />
                                    <input type="hidden" asp-for="IsActive" value="true" />
                                    <input type="hidden" asp-for="IsDelete" value="false" />
                                    <input type="hidden" asp-for="CreateUserID" value="@Model.CreateUserID" />
                                    <input type="hidden" asp-for="UpdateUserID" value="@Model.UserID" />
                                    <button type="button" class="btn btn-danger" onclick="javascript:history.back()" >Geri Dön</button>
                                    <button type="submit" class="btn btn-success">Kaydet</button>
                                </div>
                        </form>
                        </div>
                        <div class="tab-pane fade" id="kt_tab_pane_2_4" role="tabpanel" aria-labelledby="kt_tab_pane_2_4">
                            @{
                                @await Component.InvokeAsync("CrmDosyaYonetimi",
                                new { VeriID = Model.ID, ModulID = (int)ModulEnum.Teklif, DosyaYolu = "Teklif" })
                                                        }
                        </div>
            <div class="tab-pane fade" id="kt_tab_pane_3_4" role="tabpanel" aria-labelledby="kt_tab_pane_2_4">
                @{
                    @await Component.InvokeAsync("CrmLogYonetimi",
                    new { MusteriID = Model.MusteriID })
                                }
            </div>
                    </div>
                </div>
            </div>
 
		
	 
@{
    await Html.RenderPartialAsync("_PartialModalDosya",
    new AuthorizeCrudVM { Controller = "Teklif", HaritaEkle = false });
}


@section JSSection {

    @{
        await Html.RenderPartialAsync("~/Views/Musteriler/SelectList.Scripts.cshtml") ;
    }

  


	<script src="js/select2.js?v=7.0.5"></script>
    <script>
         function UrunSeciniz(id) {
            GetAjax('Teklif/UrunEkle?TeklifID=' + id , 'UrunlerDiv');
        }
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
             GetAjax('Teklif/UrunEkle?TeklifID=@Model.ID', 'UrunlerDiv');
            // Formun submit olayı
            $('#_VeriEkle2').on('submit', function (e) {
                e.preventDefault();
                var form = $(this);
                var actionUrl = form.attr('action');
                var formData = form.serialize();
                $.ajax({
                    type: 'POST',
                    url: actionUrl,
                    data: formData,
                    success: function (response) {
                        // $('#cardBody').html(response);
                        // $('#ModalVeri').modal('hide');
                        toastr.success('Kaydetme İşlemi Başarılı', 'Başarılı');

                    },
                    error: function (xhr, status, error) {

                        toastr.error('Açıklama:' + xhr.responseText, 'Hata!');
                    }
                });
            });
        });

    </script>
 
    @{
        await Html.RenderPartialAsync("_PartialAuthorizeCrud",
        new AuthorizeCrudVM
        {
            Controller = "Teklif",
            ModulID = (int)ModulEnum.Teklif,
            DosyaYolu = "Teklif"
        });
    }
}

