@model MalzemelerVM;

@{
}
<a href="#" onclick="FiyatDegistir('@Model.ID')" data-toggle="modal" data-target="#ModalFiyatDegistir" class="btn btn-sm btn-info mb-4">Fiyat Değiştir</a>


<table class="table table-sm table-bordered" width="100%" cellspacing="0">
    <thead>
        <tr>
            <td>Güncelleme Zamanı</td>
            <td>Fiyat</td>
            <td>Maliyet</td>
            <td>Döviz Türü</td>
            <td>Açıklama</td>
        </tr>
    </thead>
    <tbody>
        @foreach (MalzemeFiyat item in Model.MalzemeFiyatListe)
        {
            <tr>
                <td>@item.Tarih?.ToString("dd.MM.yyyy HH:mm")</td>
                <td class="text-right">@String.Format("{0:n2}", item.Fiyat)</td>
                <td class="text-right">@String.Format("{0:n2}", item.Maliyet)</td>
                <td>@item.DovizTur</td>
                <td>@item.Aciklama</td>
            </tr>
        }
    </tbody>
</table>
<div id="ModalFiyatDegistir" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Yeni Fiyat Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Kapat">
                    <span aria-hidden="true">&times;</span>
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <form asp-controller="Malzeme" asp-action="FiyatDegistir" method="post" name="_FiyatDegistir" id="_FiyatDegistir">
                <div class="modal-body">

                    <table class="table table-sm" width="100%" cellspacing="0">
                        <tr>
                            <td><label asp-for="Fiyat" class="control-label"></label></td>
                            <td><input asp-for="Fiyat" class="form-control form-control-sm" required /></td>
                        </tr>
                        <tr>
                            <td><label asp-for="Maliyet" class="control-label"></label></td>
                            <td><input asp-for="Maliyet" class="form-control form-control-sm" required /></td>
                        </tr>
                        <tr>
                            <td><label class="control-label">Döviz Kuru</label></td>
                            <td>
                                <select asp-for="DovizTur" class="form-control form-control-sm" asp-items="@(new SelectList(ViewBag.MalzemeDovizListe, "ID", "Ad"))"></select>
                            </td>
                        </tr>
                        <tr>
                            <td>Açıklama Gir :</td>
                            <td>
                                <textarea asp-for="Aciklama" type="text" class="form-control form-control-sm" rows="1" required></textarea>
                                <span asp-validation-for="Aciklama" class="text-danger"></span>
                            </td>

                        </tr>
                    </table>
 

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Fiyat Değiştir</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>

                    <input type="hidden" name="MalzemeID" id="MalzemeID" value="@Model.ID" />
                </div>
            </form>
        </div>

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
          
        // Formun submit olayı
        $('#_FiyatDegistir').on('submit', function (e) {
            e.preventDefault();
            var form = $(this);
            var actionUrl = form.attr('action');
            var formData = form.serialize();
            $.ajax({
                type: 'POST',
                url: actionUrl,
                data: formData,
                success: function (response) {
                    // $('#cardBody').html(response);
                   $('#ModalFiyatDegistir').modal('hide');
                    toastr.success('Kaydetme İşlemi Başarılı', 'Başarılı');
                     setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                },
                error: function (xhr, status, error) {

                    toastr.error('Açıklama:' + xhr.responseText, 'Hata!');
                }
            });
        });
    });

</script>
