@model SiparisVM

<div class="form-group row">
    
    <div class="col-lg-6">
        <label asp-for="DurumAd" class="control-label"></label>
        <select asp-for="DurumID"  class="kt_select2" data-live-search="true" data-size="5" asp-items="@ViewBag.SiparisDurumListe"></select>
        <span asp-validation-for="DurumAd" class="text-danger"></span>
    </div>  
    <div class="col-lg-3">
        <label asp-for="SorumluAd" class="control-label"></label>
        <select asp-for="SorumluID" class="kt_select2" data-live-search="true" data-size="5" asp-items="@ViewBag.SorumluListe"></select>
        <span asp-validation-for="SorumluAd" class="text-danger"></span>
    </div>
    <div class="col-lg-3">
        <label asp-for="TeslimTarihi" class="control-label"></label>
        <input asp-for="TeslimTarihi" class="form-control form-control-sm" type="date" />
        <span asp-validation-for="TeslimTarihi" class="text-danger"></span>
    </div> 
  
</div>
<div class="form-group row">
    <div class="col-lg-6">
        <label asp-for="TeslimAdres" class="control-label"></label>
        <textarea asp-for="TeslimAdres" type="text" class="form-control form-control-sm" rows="2" required></textarea>
        <span asp-validation-for="TeslimAdres" class="text-danger"></span>
    </div>
</div>


<div class="form-group row">
    <div class="col-lg-6">
    @{
           // await Html.RenderPartialAsync("~/Views/Musteriler/_selectList.cshtml", Model?.Musteri ?? new Musteriler());
    }
        <partial name="~/Views/Musteriler/_selectList.cshtml" model="Model?.Musteri ?? new Musteriler()" />
    </div>
    <div class="col-lg-3">
    @if (Model.FirsatID!=null)
    {
        <label class="control-label">Fırsat No</label>
            @* <a href="Firsat/VeriGetir?FirsatID=@Model.FirsatID" class="form-control form-control-sm">@Model.FirsatID</a> *@
            <input asp-for="FirsatID" class="form-control form-control-sm" readonly />
    }
    else
    {
            <label asp-for="FirsatAd" class="control-label "></label>
            <select asp-for="FirsatID" class="kt_select2" data-live-search="true" data-size="5" asp-items="@ViewBag.FirsatListe"></select>
            <span asp-validation-for="FirsatID" class="text-danger"></span>
    }
    
        
    </div>
    <div class="col-lg-3">
        @if (Model.TeklifID != null)
        {
            <label class="control-label">Teklif No</label>
            @* <a href="Firsat/VeriGetir?FirsatID=@Model.FirsatID" class="form-control form-control-sm">@Model.FirsatID</a> *@
            <input asp-for="TeklifID" class="form-control form-control-sm" readonly />
        }
        else
        {
            <label asp-for="TeklifAd" class="control-label  mt-2"></label>
            <select asp-for="TeklifID" class="kt_select2" data-live-search="true" data-size="5" asp-items="@ViewBag.TeklifListe"></select>
            <span asp-validation-for="TeklifID" class="text-danger"></span>
        }
        
    </div>
    
    

</div>

 
 
 
 

 
<div class="form-group row">
    <div class="col-lg-12">
        <label asp-for="Not" class="control-label"></label>
        <textarea asp-for="Not" type="text" class="form-control form-control-sm" rows="2" required></textarea>
        <span asp-validation-for="Not" class="text-danger"></span>
    </div>
</div>
@if (Model.ID>0)
{
  @*  <div class="form-group row">
        <div class="col-lg-12">
            <button onclick="UrunSeciniz('@Model.ID')" class="btn btn-sm btn-info font-weight-bold" type="button">Ürün Seçiniz</button>
        </div>
    </div> *@
    <div id="UrunlerDiv">

    </div>
   
}

<script src="js/select2.js?v=7.0.5"></script>




 
 